<div class="card">
  <div class="flex justify-between items-center">
    <i class="fa-solid fa-circle-check text-2xl text-green-600"></i>
    <div class="text-right">
      <span class="text-sm font-bold"><%= t(".completed_at") %></span>
      <p class="text-sm text-thin italic"><%= performance.completed_at %></p>
    </div>
  </div>
</div>
