<div>
  <h4><%= t(".title") %></h4>

  <%= turbo_frame_tag :completed_performances_frame, class: "space-y-3" do %>
    <% completed_performances.each do |performance| %>
      <%= render "tasks/completed_performance", performance: performance %>
    <% end %>
  <% end %>

  <%= link_to t(".all_performances"), task_performances_path(@task), class: "btn btn-primary mt-4" %>
</div>
