<div class="p-4 bg-gray-100 border rounded-xl" data-duplicator-target="duplicatable">
  <div style="display: none" class="duplicate-eraser flex justify-end">
    <button type="button" class="btn btn-sm btn-danger w-8 h-8" data-action="click->eraser#erase touch->eraser#erase">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <%= render "task_performance_form_fields", performance: performance %>
</div>
