<h1><%= t(".title") %></h1>

<%= render "form", task: @task %>

<div class="mt-2">
  <%= link_to t("actions.show"), @task, class: "link" %> |
  <%= link_to t("actions.back"), tasks_path, class: "link" %>
</div>
