<h1><%= t(".title") %></h1>

<div id="task_sets" class="space-y-4">
  <% @task_sets.each do |task_set| %>
    <%= link_to task_set, class: "card card-link" do %>
      <%= render task_set %>
    <% end %>
  <% end %>
</div>

<%= link_to "New task set", new_task_set_path, class: "btn btn-primary mt-4" %>
