<% if record.errors.any? %>
  <div class="text-red-500">
    <p class="font-bold"><%= pluralize(record.errors.count, "error") %> prohibited this <%= record.class.name.titleize %> from being saved:</p>

    <ul class="list-disc pl-6">
      <% record.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
